<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @usersevent.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @usersevent.user_id %>
</p>

<p>
  <b>Admin:</b>
  <%= @usersevent.admin %>
</p>


<%= link_to 'Edit', edit_usersevent_path(@usersevent) %> |
<%= link_to 'Back', usersevents_path %>
